$paddingHeader: 100px;

@mixin centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin collapse($width, $height, $titleSize, $contentSize, $arrowSize) {
  .collapseDiv {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: $width;
    min-height: $height;
    height: min-content;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    background-color: #f6f6f6;

    .collapseOutside {
      border-radius: 5px;
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      background-color: #ff6060;
      padding: 10px 15px;
      max-width: $width;
      height: $height;
      box-sizing: border-box;
      z-index: 2;

      .collapseTitle {
        font-size: $titleSize;
        color: white;
        margin: unset;
      }

      .collapseArrow {
        width: $arrowSize;
        transition: all linear 0.5s;
        cursor: pointer;
      }

      .isArrowOpen {
        rotate: 180deg;
      }
    }

    .collapseInside {
      display: grid;
      grid-template-rows: 0fr;
      position: relative;
      box-sizing: border-box;
      z-index: 1;
      padding: 0 20px 0 20px;
      transition: all linear 0.5s;
      overflow: hidden;

      .collapseContent {
        margin: unset;
        display: flex;
        flex-direction: column;
        color: #ff6060;
        font-size: $contentSize;
        overflow: hidden;
      }
    }

    .isCollapseOpen {
      padding: 20px;
      grid-template-rows: 1fr;
    }
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

h1,
h2,
ul,
li,
p {
  all: unset;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  @include centerContent;

  justify-content: space-between;
  padding: 45px 0 50px 0;
  max-width: 1240px;
  margin-inline: max(20px, 50% - 1240px/2);

  div {
    @include centerContent;
    gap: 60px;

    h2 {
      color: #ff6060;
      cursor: pointer;
    }

    .underline {
      text-decoration-line: underline;
    }
  }

  @media (max-width: 530px) {
    padding-block: 20px;
    svg {
      width: 145px;
    }

    div {
      gap: 30px;

      h2 {
        font-size: 0.75rem;
      }
    }
  }
}

main {
  max-width: 1240px;
  margin-inline: max(20px, 50% - 1240px/2);

  .topBanner {
    @include centerContent;

    height: 223px;
    border-radius: 25px;
    color: white;
    font-size: 3rem;
    background: url(../images/ProposTopBannerImage.jpg),
      lightgray 50% / cover no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    margin-bottom: 40px;
    box-sizing: border-box;
    padding: 30px 15px;

    @media (max-width: 530px) {
      height: 110px;
      margin-bottom: 20px;
      font-size: 1.5rem;
    }
  }

  .isTitle {
    background: url(../images/HomeTopBannerImage.jpg),
      lightgray 50% / cover no-repeat;
    background-size: cover;
    background-blend-mode: darken;
  }

  .locationGallery {
    border-radius: 25px;
    background: #f6f6f6;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 60px;
    margin-bottom: 50px;

    li {
      all: unset;
      position: relative;
      display: block;
      width: 340px;
      height: 340px;
      border-radius: 10px;
      overflow: hidden;
      z-index: 0;
      cursor: pointer;

      &:after {
        z-index: 0;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(0, 0, 0, 0.5) 100%
        );
      }

      img {
        z-index: 1;
        height: inherit;
      }

      p {
        z-index: 2;
        position: absolute;
        bottom: 0;
        color: white;
        margin: 0 20px 20px 20px;
        font-size: 1.125rem;
      }
    }

    @media (max-width: 530px) {
      padding: unset;
      background: unset;
    }
  }

  .galleryCarousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 415px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 10px;
    
    .leftArrow,
    .rightArrow {
      position: absolute;
      height: 79px;
      cursor: pointer;
    }
    
    .rightArrow {
      right: 23px;
    }
    
    .leftArrow {
      left: 23px;
    }

    .imageIndex {
      position: absolute;
      bottom: 25px;
      color: white;
      font-size: 1.125rem;
    }
    
    .galleryImage {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    
    @media (max-width: 768px) {
      height: 255px;
      
      .leftArrow,
      .rightArrow {
        height: 20px;
      }

      .rightArrow {
        right: 6px;
      }

      .leftArrow {
        left: 6px;
      }

      .imageIndex {
        display: none;
      }
    }
  }

  .infoSection {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    .titleDiv {
      display: flex;
      flex-direction: column;
      width: fit-content;

      h1,
      h2 {
        color: #ff6060;
      }

      h1 {
        font-size: 2.25rem;
      }

      h2 {
        font-size: 1.125rem;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        color: white;
        gap: 10px;
        margin-top: 20px;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #ff6060;
          border-radius: 10px;
          font-size: 0.875rem;
          min-width: 115px;
          height: 25px;
          padding: 0 30px;
          box-sizing: border-box;
        }
      }
    }

    .ownerDiv {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .ownerInfo {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;

        p {
          width: min-content;
          text-align: right;
          color: red;
          margin: 0;
          font-size: 1.125rem;
        }

        img {
          width: 64px;
          height: 64px;
          border-radius: 50%;
        }
      }

      ul {
        display: flex;
        gap: 10px;

        li {
          width: 30px;
          height: 30px;
        }
      }
    }

    
    @media (max-width: 768px) {
      flex-direction: column;

      .titleDiv {
        h1 {
          font-size: 1.125rem;
        }

        h2 {
          font-size: 0.875rem;
        }

        ul {
          li {
            font-size: 0.625rem;
            border-radius: 5px;
          }
        }
      }
      
      .ownerDiv {
        @media (max-width: 530px) {
          .ownerInfo {
            p {
              font-size: 0.75rem;
            }
    
            img {
              width: 32px;
              height: 32px;
            }
          }
    
          ul {
            gap: 5px;
    
            li {
              width: 18px;
              height: 18px;
            }
          }
        }
        flex-direction: row-reverse;

        ul {
          align-items: center;
        }
      }
    }
  }

  .collapseInfo {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin: 24px 0 50px 0;

    @media (max-width: 600px) {
      flex-direction: column;
      gap: 20px;
      @include collapse(auto, 30px, 0.75rem, 0.75rem, 16px);

      .collapseDiv {
        margin-inline: auto;
      }
    }

    @media (min-width: 600px) {
      @include collapse(582px, 52px, 1.125rem, 1.125rem, 32px);
    }
  }

  .collapsePropos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 38px;

    @media (max-width: 530px) {
      gap: 20px;
      margin-bottom: 20px;

      @include collapse(1023px, 30px, 0.75rem, 0.75rem, 16px);
    }

    @media (min-width: 530px) {
      @include collapse(1023px, 52px, 1.5rem, 1.125rem, 32px);
    }
  }

  &:has(> .errorTitle) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 140px;
    padding-block: 90px 140px;

    .errorTitle {
      font-size: 18rem;
      color: #ff6060;
      line-height: 264px;
    }

    .errorText {
      font-size: 2.25rem;
      color: #ff6060;
      text-align: center;
    }

    .errorLink {
      font-size: 1.125rem;
      color: #ff6060;
      text-decoration: underline;
      cursor: pointer;
    }

    @media (max-width: 600px) {
      gap: 110px;
      padding-block: 90px 110px;

      .errorTitle {
        font-size: 6rem;
        line-height: 100px;
      }

      .errorText {
        font-size: 1.125rem;
      }

      .errorLink {
        font-size: 0.875rem;
      }
    }
  }
}

footer {
  @include centerContent;

  flex-direction: column;
  background-color: black;
  gap: 30px;
  padding: 66px 0 29px;

  h2 {
    color: white;
    margin: 0;
  }

  @media (max-width: 530px) {
    gap: 10px;

    h2 {
      font-size: 0.75rem;
      width: 133px;
      text-align: center;
    }
  }
}
